# Default ignored files
/shelf/
/workspace.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/

#Sonarlint
sonarlint-state.xml
sonarlint/
sonarlint.xml

#Discord Integration
discord.xml
