# Default ignored files
/shelf/
/workspace.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/

# Additional IntelliJ stuff
dictionaries/
fileTemplates/
file.template.settings.xml

#Sonarlint
sonarlint-state.xml
sonarlint/
sonarlint.xml

#Discord Integration
discord.xml
